@media screen and (max-width: 700px) {
  .main-nav .right-menu {
    margin-right: 50px;
  }
  .main-nav .main-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #f2f2f2;
    width: 50%;
    height: 100%;
    border-right: 1px solid #ccc;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .main-nav .main-menu li {
    padding-bottom: 10px;
    font-size: 15px;
    border-bottom: 1px solid #262626;
  }

  .main-nav .main-menu li:last-child {
    border-bottom: 0;
  }

  .main-nav .main-menu.show {
    transform: translateX(0);
  }

  .home-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .xbox .content p {
    display: none;
  }

  .xbox .content {
    position: relative;
    top: 65px;
  }

  .carbon .content {
    width: 85%;
  }

  .links .links-inner {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .home-cards {
    grid-template-columns: 1fr;
  }

  .carbon .content p {
    display: none;
  }

  .links .links-inner {
    grid-template-columns: 1fr;
  }

  .links .links-inner ul {
    margin-bottom: 20px;
  }
}